<!-- #documentation for Zapier, etc -->
<%= render "shared/home_page_navbar" %>

<div class="alert alert-primary" role="alert">
  Seviipay is in alpha launch! We are looking for 4 more alpha users 100% free for all of 2021! Email me <b>nick@seviipay.com</b> for info!
</div>


<div class="p-5 bg-white border text-center">
  <h1 class="display-4">Documentation for integrations </h1>
  <p class="lead text-center">We currently support integrations via our Zapier Trigger</p>
</div>


<div class="h-100 p-5 bg-white border rounded-3">
  <h1 class="display-4">Features</h1>
   <hr class="my-4">
  <p class="lead">You can connect Seviipay to Zapier via the Zapier Zap setup workflow. Zapier will then open a pop up of www.seviipay.com so you can confirm that Zapier should get access to your Seviipay account. No action is needed inside the Seviipay website.  </p>
<hr class = "my-4"/>
  <p class="lead"> Please check out the Zapier docs for creating a Zap. <a href="https://zapier.com/help/create/basics/create-zaps"> Link to Zapier docs</a> </p>
   <hr class="my-4">
  <p class="lead">The Seviipay trigger activates whenever a customer places an order for one of your inovices. </p>
  <hr class="my-4">
   <p class="lead"> Connecting your seviipay account to Zapier will give your Zapier account access to a stream of orders placed by your customers that you can then connect to other services integrated with Zapier. </p>
  <hr class="my-4">
  <p class="lead">Each event sent to Zapier includes the entire schema for the order so you can filter different inovices to different actions in your Zap. </p>
  <hr class="my-4">
  <p class="lead">If you have any questions or need support please email me nick@seviipay.com and I will help you troubleshoot.  </p>
</div>

<a href="mailto:nick@seviipay.com?subject=Documentation Question&body=Question from User  <%= @user.id %> account email: <%=@user.email %>  %0D%0A Include your questions below.">Contact Us</a>



<footer class="navbar mt-auto py-3 bg-white">
  <div class="container">
     <div class="">© 2021 Copyright:
        <a href="https://www.seviipay.com/"> Seviipay.com </a>
      </div>
  </div>
</footer>

<!-- Convertkit mailing list signup form -->
<script async data-uid="b9e9e721ce" src="https://expert-trailblazer-5967.ck.page/b9e9e721ce/index.js"></script>