<%= render "shared/home_page_navbar" %>

<div class="alert alert-primary" role="alert">
  Seviipay is in alpha launch! We are looking for 4 more alpha users 100% free for all of 2021!
</div>

<div class="h-100 p-5 bg-light border rounded-3">
  <h1 class="display-4">Cryptocurrency payments for everyone. </h1>
  <p class="lead">Seviipay makes it easy to accept crypto payments directly to your wallet.  </p>
  <hr class="my-4">
  <p>35 digit numbers, scanning bar codes. Just let me click pay already!</p>
  <p>Seviipay provides the one click cryptocurrency payment solution anyone can use. </p>
  <p>We interface directly with browser and mobile wallets. Your customer can simply click accept when prompted by their wallet. No barcodes, no typing addresses, no wondering if they did it right.</p>
  <p>One click cryptocurrency payments. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/pricing" role="button">Buy Now</a>
  </p>
</div>

<div class="h-100 p-5 bg-light border rounded-3">
  <h1 class="display-4">How it works</h1>
  <div>
    <iframe width="350" height="450" src="https://www.youtube.com/embed/TKR_fLDll-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


  <p class="lead">Adding crypto payments with Seviipay is quick and easy.</p>
  <hr class="my-4">
  <p>Add crypto payments to your website in 90 seconds. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/pricing" role="button">Buy Now</a>
  </p>
</div>

<div class="h-100 p-5 bg-light border rounded-3">
  <h1 class="display-4">Features</h1>
  <p class="lead">Seviipay is quick and easy to setup. All you need is your ethereum wallet address. </p>
  <hr class="my-4">
   <p class="lead">Customers can easily make payments, no barcodes, no entering addresses, just click confirm. </p>
  <hr class="my-4">
  <p class="lead">Payments are made directly to your wallet, no middleman and no waiting.</p>
  <hr class="my-4">
  <p class="lead">Predictable fees. Other payment solutions charge 3% of all your revenue, Seviipay costs only a flat monthly fee. </p>
  <hr class="my-4">
  <p class="lead">Price your services in fiat, we will get the current price of ethereum and make sure the customer sends the right amount.</p>
  <hr class="my-4">
  <p class="lead"> Get an email whenever a payment is placed, with chain status so you know when the payment is final. </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/pricing" role="button">Buy Now</a>
  </p>
</div>


<footer class="navbar mt-auto py-3 bg-light">
  <div class="container">
     <div class="">© 2021 Copyright:
        <a href="https://www.seviipay.com/"> Seviipay.com </a>
      </div>
  </div>
</footer>

<!-- Convertkit mailing list signup form -->
<script async data-uid="b9e9e721ce" src="https://expert-trailblazer-5967.ck.page/b9e9e721ce/index.js"></script>