<%= render "shared/home_page_navbar" %>

<div class="alert alert-primary" role="alert">
  Seviipay is in alpha launch! We are looking for 4 more alpha users 100% free for all of 2021!
</div>

<div class="container bg-light border rounded-3">
    <div class="row">
        <div class="col"> Basic</div>
        <div class="col">Pro</div>
        <div class="col">Enterprise (Coming Soon)</div>
    </div>
    <div class="row">
        <div class="col"> $100/month</div>
        <div class="col">$500/month</div>
        <div class="col">Email for a quote</div>
    </div>
    <div class="row">
        <div class="col"> Unlimited Payments</div>
        <div class="col">Unlimited Payments</div>
        <div class="col">Unlimited Payments</div>
    </div>
      <div class="row">
        <div class="col">No Fees per payment</div>
        <div class="col">No Fees per payment</div>
        <div class="col">No Fees per payment</div>
    </div>
      <div class="row">
        <div class="col">Email notification when a payment is placed</div>
        <div class="col">Email notification when a payment is placed</div>
        <div class="col">Email notification when a payment is placed</div>
    </div>
    <div class="row">
        <div class="col">Ethereum Payments (ERC20 coming soon)</div>
        <div class="col">Ethereum Payments (ERC20 coming soon)</div>
        <div class="col">Ethereum Payments (ERC20 coming soon)</div>
    </div>
    <hr class="my-2">
     <div class="row">
        <div class="col">24 hour SLA Email support</div>
        <div class="col">3 hour Email SLA during business hours</div>
        <div class="col">Priority Email support during business hours</div>
    </div>
     <div class="row">
        <div class="col">No phone support</div>
        <div class="col">Daytime Phone support</div>
        <div class="col">24/7 Phone and Emergency support</div>
    </div>
      <div class="row">
        <div class="col">60 day no questions asked refund policy</div>
        <div class="col">60 day no questions asked refund policy</div>
        <div class="col">60 day no questions asked refund policy</div>
    </div>
    <hr class="my-2">
     <div class="row">
        <div class="col">
            <p>Pay for 1 month of Basic $100 (Alpha)</p>
            <p><b>Seviipay is currently in alpha. Bugs are expected. I will do everything I can to support our alpha customers. All alpha customers will be free for all of 2021. </b></p>
            <form action="https://www.seviipay.com/pay/22" class="inline"> <button class="float-left submit-button">Pay with Ethereum</button> </form>
        </div>
        <div class="col">
            <p>Pay for 1 month of Pro $500 (Alpha)</p>
            <p><b>Seviipay is currently in alpha. Bugs are expected. I will do everything I can to support our alpha customers. All alpha customers will be free for all of 2021. </b></p>
            <form action="https://www.seviipay.com/pay/23" class="inline"> 
                <button class="float-left submit-button">Pay with Ethereum</button> 
            </form>
        </div>
        <div class="col">
            <p>Coming Soon</p>
        </div>
    </div>

    <hr class="my-2">


    <div class="row">
        <div class="col">
        <p>Pay for 1 year of Basic Save 30% (Alpha) <del>$1200</del> <b>$840</b></p> 
        <p><b>Seviipay is currently in alpha. Bugs are expected. I will do everything I can to support our alpha customers. All alpha customers will be free for all of 2021. </b></p>
            <form action="https://www.seviipay.com/pay/24" class="inline"> 
                <button class="float-left submit-button">Pay with Ethereum</button> 
            </form>
        </div>
        <div class="col">
        <p>Pay for 1 year of Pro Save 30% (Alpha) <del>$6000</del> <b>$4200</b></p> 
        <p><b>Seviipay is currently in alpha. Bugs are expected. I will do everything I can to support our alpha customers. All alpha customers will be free for all of 2021. </b></p>
        <form action="https://www.seviipay.com/pay/25" class="inline"> 
            <button class="float-left submit-button">Pay with Ethereum</button> 
        </form>
        </div>
        <div class="col">
            <p>Coming Soon</p>
        </div>
    </div>
</div>
<hr class="my-4">
<footer class="navbar mt-auto py-3 bg-light">
  <div class="container">
     <div class="">© 2021 Copyright:
        <a href="https://www.seviipay.com/"> Seviipay.com </a>
        <p> All refunds are priced in USD and will be provided by ethereum transfer to your wallet. The price of ethereum is volatile you may not recieve the same quantity back. 
      </div>
  </div>
</footer>


<script async data-uid="b9e9e721ce" src="https://expert-trailblazer-5967.ck.page/b9e9e721ce/index.js"></script>