<!-- #documentation for Zapier, etc -->
<%= render "shared/home_page_navbar" %>

<div class="alert alert-primary" role="alert">
  Seviipay is in alpha launch! We are looking for 4 more alpha users 100% free for all of 2021! Email me <b>nick@seviipay.com</b> for info!
</div>


<div class="p-5 bg-white border text-center">
  <h1 class="display-4">Privacy Policy </h1>
  <p> Seviipay is a blockchain integration and payments experience service. We do not store, transmit or custody any cryptocurrency.</p>
  <h4> Information we collect </h3>
  <h5> For consumers who place payments via Seviipay</h5>
  <p> When you place an order via Seviipay we record your email address and blockchain wallet address in our database. That information is shared with the owner of the inovice you made a payment to so that they can then render the service you paid for to you. We share information with our sellers via 3rd party service like Zapier, Postmark and others. </p>
  <h5>For sellers who create inovices with Seviipay.</h5>
  <p>When you register with Seviipay we require personal information specifically your name and email address. This data is stored in our database. We may also store your contact information (Phone number, email, etc) in 3rd party services that facilitate our sales and billing processes. </p>

  <p>To use the service after signing up you will need to provide us with your ethereum wallet address. This data is stored in our database and is publically accessible to anyone who has the URL for the inovices you create. Inovices are not private and can be accessed by anyone on the internet. </p> 

  <p> We do not currently sell customer information to 3rd parties for any reason.</p>
  <p> Seviipay follows all applicable laws in the state of Arizona. </p>

  <p> To have your information removed from our database please email me at nick@seviipay.com and I will delete your data. Please be aware that even if your data is deleted from Seviipay databases, records of transactions will still exist on the ethereum blockchain. Data cannot be removed from the blockchain by Seviipay. Seviipay does not control or own or have any power over the state of the Ethereum blockchain and cannot be held liable for its contents. </p>

</div>
