<!-- #documentation for Zapier, etc -->
<%= render "shared/home_page_navbar" %>

<div class="alert alert-primary" role="alert">
  Seviipay is in alpha launch! We are looking for 4 more alpha users 100% free for all of 2021! Email me <b>nick@seviipay.com</b> for info!
</div>


<div class="p-5 bg-white border text-center">
  <h1 class="display-4">Terms of Service </h1>
  <p> Seviipay is a blockchain integration and payments experience service. We do not store, transmit or custody any cryptocurrency.</p>
  <p>People under the age of 18 may not use Seviipay.  </p>
  <p>Seviipay may not be used by Iranians or any residents of nations sanctioned by the US government that would prevent them from using our services. If we detect any users who fall under sanctions they will be banned immediatly and without notice. </p>
  <p>Seviipay is currently in Alpha launch. Bugs are expected. If you encounter a bug, vulnerability, or any kind of issue, please email me at the address nick@seviipay.com and I will do my best to fix it.  </p>

  <p> You are responsible for correctly entering payment terms to your cryptocurrency wallet. Seviipay is not responsible for payments that go to the wrong ethereum wallet for any reason including if Seviipay has a bug or makes some other mistake. We do not offer refunds or any warrenty for miss sent payments made using our service.  </p>

  <p> Always double check the address of your recipient. Ethereum transactions cannot be reversed for any reason. If you make a mistake your cryptocurrency can dissapear forever. </p>

  <p> By creating an account with Seviipay you agree that Seviipay is not responsible for ethereum transactions sent to the wrong address via our service for any reason. You acknowledge that we will not compensate you or your customers for lost ethereum. You agree to hold Seviipay and Nicholas Sledgianowski harmless for any cryptocurrency losses due to using the website. </p>
</div>
